<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- <% if(kindofday==="saturday"  || kindofday==="sunday"){ %>  -->
    <div class="box" id="heading">
        <h1 >today is a <%= kindofday %>!</h1>

    </div>
   <!--  
      <% } else { %>
        <h1 style="color: blue">today is a <%= kindofday %>!</h1>
   <% } %> 
      -->  


  
        <div class="box">
            <% for(var i=0;i<newlistitems.length;i++){ %>
               <div class="item">
                 <input type="checkbox">
                  <p> <%= newlistitems[i] %> </p>
               </div>

        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New item">
    
            <button type="submit" name="button">+</button>
        </form>


    </div>
    


    
   
</body>
</html>